<div class="employee-details-container">
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <!-- Employee Details -->
    <div *ngIf="employee" class="employee-card">
      <img
        class="employee-image"
        src="https://via.placeholder.com/150"
        alt="Employee image"
      />
      <div class="employee-info">
        <h2>{{ employee.name }}</h2>
        <p><strong>ID:</strong> {{ employee.id }}</p>
        <p><strong>Gender:</strong> {{ employee.gender }}</p>
        <p><strong>Age:</strong> {{ employee.age }} years</p>
      </div>
      <!-- <button class="back-button" (click)="goBack()">Back to List</button> -->
      <button class="back-button" [routerLink]="'/emp-list'">Back to List</button>
    </div>
  </div>
  